export(classifyLogisticRegression)
export(classifyMultinomialLogisticRegression)
export(classifyNeuralNet)
export(classifyDecisionTree)
export(classifyRandomForest)
export(classifySVM)
export(classifyText)
export(compareClassifiers)
export(compareRegression)
export(splitDataSet)
